@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:is(.dark *));

:root {
  --fg: #0f0f0f;
  --bg: #ffffff;
  --accent: #6366f1;
  --accent-hover: #ffffff;
}

.dark {
  --fg: #d1cdcd;
  --bg: #1b1b1b; /* Dark mode background */
  --accent: #6366f1; /* You can change accent in dark if needed */
  --accent-hover: #353535;
}

@layer base {
  body {
    @apply bg-white text-black; /* Light mode defaults */
  }
  .dark body {
    @apply bg-black text-white; /* Dark mode overrides */
  }
}

/* Apply vars */
body {
  background-color: var(--bg);
  color: var(--fg);
}

.btn {
  background-color: var(--accent);
}

.btn:hover {
  background-color: var(--accent-hover);
}
